* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('D:\\Ayush\\Projects\\NeoBank\\my-app\\public\\Blue.png');
    background-repeat: none;
}

.nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 2px 2rem 2px 2rem;
    padding-right: 9rem;
    padding-top: 10px;
    padding-bottom: 5px;
}

.nav ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-brand {
    font-size: 45px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #3F72AF;
}

.nav-items {
    color: rgb(19, 83, 128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    text-decoration: none;
    padding-right: 3rem;
}

.nav-items:hover {
    text-decoration: underline;
}

.nav-item-register {
	background-color: transparent;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: inherit;
    text-decoration: none;
    padding: 1mm;
    margin-top: 4px;
    border: solid 2px blue;
    border-radius: 3px;
}

.nav-item-register:hover {
    background-color: rgb(0, 62, 162);
    color: aliceblue;
    border: 0px;
    border-radius: 3px;
	cursor: pointer;
}

/* For Login */
.Loginsection {
    margin: 10rem 3rem 3rem 10rem;
    display: inline-flex;
}

.Loginform {
    left: 30%;
    float: left;
    height: 100%;
    width: 100%;
}

.image-container {
    position: fixed;
    display: flex;
    float: right;
    /* right: -1%; */
    padding-left: 39rem;
    height: 50%;
    width: auto;

    /* box-align:right; */
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60vh;
    border-radius: 5px;
}

.screen {		
	background: linear-gradient(90deg, #9191f5, #9191f5);		
	position: relative;	
	height: 500px;
	width: 360px;	
	box-shadow: 0px 0px 24px #8ba7fa;
    border: 0px;
    border-radius: 5px;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
    border-radius: 5px;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #96aefc;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #80b9ff, #187ce6);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #678dff;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 140px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7770fb;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #4665ee;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}